.main-body{
    margin: 0 auto;
}

.select-form{
    width: 500px;
    margin: 26.5vh auto;
    padding: 50px;
}

.feedback-form{
    margin: 10vh auto;
    padding: 30px;
}

.login_toast{
    background-color: #343a40;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 15vw;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #343a40;
    z-index: 9999;
    text-transform: uppercase;
}

.search_bar{
    padding: 20px;
    background-color: #343a40;
    display: flex;
    justify-content: center;
}
.width_box{
    width: 100px !important;
}